*{
  margin: 0;
  padding: 0;
  --maincolor: rgb(0,0,0);
  --secondcolor: #18D26E;
  --text-grey:rgb(166,166,166);
  --text-dark-grey:#474747;
  --text-white:#FFF;
  
}
body{
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;

}
.contenaire{
  padding-top: 10px;
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.65172006302521) 100%);
  position: fixed;
  top: 0;
  z-index: 1;
}
nav{
  height: 55px;
  display: flex;
  justify-content: space-around;
}
.nav_op{
  color: var(--text-grey);
  font-size: 20px;
  text-decoration: none;
}
.nav_op:hover , .active {
  color:  var(--secondcolor);
  }
.ulApp{
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 70%;
  z-index: 1;
}
